{% extends 'base.html.twig' %}

{% block title -%}
TODOs list{%- endblock %}{% block body %}
<div class="container p-5">
    <h1>TODOs list</h1>
    <div class="my-3">
        <a href="{{ path('app_default_index') }}" class="btn btn-primary">&laquo; Back to homepage</a>
    </div>
    <div class="list-group">
        {% for todo in todos %}
            <div class="list-group-item list-group-item-action py-3">
                <h5 class="mb-1">{{ todo.title }}</h5>
                <p class="mb-1">{{ todo.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>{% endblock %}
