{% extends 'base.html.twig' %}

{% block title -%}
TODOs list{%- endblock %}{% block body %}
<div class="container p-5">
    <h1>TODOs list</h1>
    <div class="my-3">
        <div {{ vue_component('Button', { text: 'Back to homepage', outline: true, link: path('app_default_index') } ) }}>
            Loading...
        </div>
    </div>
    {{ component('todo_search', { max: 500 }) }}
</div>{% endblock %}
